.navbar {
  background-color: #232222;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 1px solid #444;
  width: 100%;
  box-sizing: border-box;
  height: 70px;
}

.logo {
  height: auto;
  width: 170px; 
  object-fit: contain;
  cursor: pointer;
}
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}


.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3a3a3a;
  border: 1px solid #555;
  border-radius: 25px; 
  padding: 5px 12px; 
  cursor: pointer;
  height: 35px; 
  position: relative;
  margin-right: 20px; 
}

/* Profile Button (Button itself) */
.profile-icon {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 3px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 8px;
}

/* Adjust individual icon spacing */
.menu-icon {
  font-size: 18px;
  color: #eee;
  margin-left: 5px;
}

.profile-icon svg { 
  font-size: 18px;
  color: #eee;
}


/* Dropdown Menu */
.profile-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background: #2d2d2d;
  border: 2px solid #555;
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 180px;
  font-size: 14px;
  text-align: left;
}

.profile-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  color: #eee;
}

.profile-dropdown li:hover {
  background-color: #3a3a3a;
}

.profile-dropdown li:first-child {
  font-weight: bold;
}

.profile-dropdown li.manage-spots {
  font-weight: bold;
  padding-top: 5px;
}



/* Logout Button */
.logout-button {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.logout-button:hover {
  background-color: #666;
}

.hidden {
  display: none;
}

.profile-dropdown hr {
  border: none; 
  border-top: 1px solid #555;  
  margin: 8px 0; 
  width: 100%; 
  list-style: none;  
}