.login-form-container {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    background-color: #505050;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 90%;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .login-form-container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f1f1f1;
  }
  
  /* Input styling like wireframe */
  .login-form input {
    background-color: #7a7979;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    color: #f1f1f1;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .login-form input::placeholder {
    color: #cccccc;
  }
  
  
  .login-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  

  .login-button, .demo-button {
    background-color: #d77c13;
    color: #f1f1f1;
    padding: 12px 0;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 48%;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.2s ease;
    flex: 1;
    max-width: 150px;
  }
  
  .login-button:hover, .demo-button:hover {
    background-color: #e46615;
  }
  
  .disabled-login {
    background-color: #999 !important;
    cursor: not-allowed;
    color: #eee;
  }
  