.auth-modal-container, .auth-page {
  background-color: #505050;
  color: #f1f1f1;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 6px;
  border: none;
}

button {
  background-color: #ff4c68;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.auth-status {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ccc;
}
